# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
terraform/secrets.auto.tfvars

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Secrets & credentials
.env
*.pem
*.key

# Local IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Kubernetes generated
kubeconfig
*.kubeconfig
